.smallFont12 {
    font-size: 12px !important;
    line-height: 16px !important;
}

.smallFont14 {
    font-size: 14px;
    line-height: 22px;
}

.defaultFont {
    font-size: 15px !important;
    line-height: 22px !important;
}

.fontSize18Bold {
    font-size: 18px;
    font-weight: 700;
}

.fontSize18Medium {
    font-size: 18px !important;
    font-weight: 500 !important;
}

.RegularFont {
    font-size: 16px !important;
}

.fontSize20 {
    font-size: 20px !important;
}

.ag-fontSize24 {
    font-size: 24px !important;
}

.ag-fontSize26 {
    font-size: 26px !important;
}

.ag-fontSize32 {
    font-size: 32px !important;
}

.ag-fontSize30 {
    font-size: 30px !important;
    line-height: 38px;
    font-weight: 400;
}

.lineHeight20 {
    line-height: 20px;
}

.lineHeight40 {
    line-height: 40px !important;
}

.fontWeight600 {
    font-weight: 600;
}

.Sentence {
    text-transform: capitalize !important;
}

h1.ant-typography,
.ant-typography h1 {
    font-weight: 400;
}

h2.ant-typography,
.ant-typography h2 {
    font-weight: 400;
}

h3.ant-typography,
.ant-typography h3 {
    font-weight: 400;
    margin-bottom: 30px;
}

h4.ant-typography,
.ant-typography h4 {
    font-weight: 400;
    margin-bottom: 20px;
}

h5.ant-typography,
.ant-typography h5 {
    font-weight: 400;
    margin-bottom: 20px;
}

.text-italic {
    font-style: italic;
}

.SentanceCase {
    text-transform: capitalize;
}

.text-white {
    color: #fff !important;
}

.font-300 {
    font-weight: 300 !important;
}

.font-400 {
    font-weight: 400 !important;
}

.font-500 {
    font-weight: 500 !important;
}

.fontSize24 {
    font-size: 24px !important;
}
.link-cursor {
    cursor: pointer;
}