.login-layout {
    width: 100%;
    overflow: hidden;
    .ant-row-middle {
      padding: 100px 24px 24px 24px;
      min-height: 100vh;
    }
  }

  .site-page-header-ghost-wrapper {
    position: absolute;
    width: 100%;
  }