.dashboard-FitCard {
    margin-top: 2em;

    .ant-descriptions-row {
        > td {
            padding-bottom: 8px;
            border-bottom: 1px solid;
            padding-top: 8px;
        }

        &:last-child {
            > td {
                border-bottom: 0;
            }
        }
    }

    .ant-descriptions-item-container {
        display: flex;
        justify-content: flex-end;
        .ant-descriptions-item-content {
            width: 100px;
            text-align: right;
            flex: none;
            margin-left: auto;
            display: inline;
            color: $green-color;
        }
    }
}