.fullWidth-checbox {
    label {
        width: 100%;
        padding: 8.5px 15px;
        background: #202020;
        border-radius: 8px;
        display: flex;
        align-items: center;
        flex-flow: row-reverse;
        justify-content: space-between;
        span {
            color: $based-color;
            line-height: 20px;
            padding-left: 0;
        }
    }
    .ant-checkbox {
        top: 0;
    }
    .ant-checkbox-inner {
        border-radius: 4px;
    }
    .ant-checkbox-group-item {
        &::after {
            content: none;
        }
    }
}

.graycheckbox {
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
    .ant-checkbox:hover .ant-checkbox-inner,
    .ant-checkbox .ant-checkbox-input:focus+.ant-checkbox-inner {
        border-color: $based-color;
    }
    .ant-checkbox-checked .ant-checkbox-inner,
    .ant-checkbox-checked:hover .ant-checkbox-inner,
    .ant-checkbox-wrapper:hover .ant-checkbox-checked .ant-checkbox-inner,
    .ant-checkbox-checked .ant-checkbox-input:focus+.ant-checkbox-inner {
        border-color: $container-color;
        background-color: $container-color;
    }
    .ant-checkbox-checked::after {
        border-color: $container-color;
    }
    .ant-checkbox-checked .ant-checkbox-inner::after {
        border-color: $gray;
    }
}
.readonly-transparent {
    margin-bottom: 0;
    .ant-form-item-control-input {
        min-height: unset;
    }
    .ant-input {
        padding:0;
        background: transparent;
        border: 0;
        &:focus {
            border:0;
            box-shadow: none;
        }
    }
    .ant-input-focused {
        border: 0;
        box-shadow: none;
    }
}
.circle20 {
    width: 20px;
    height: 20px;
    background: $menu-gray;
    padding:4px;
    border-radius: 50%;
    .anticon {
        vertical-align: top;
    }
}

.ant-rate-star-first, .ant-rate-star-second {
    color: $menu-gray;
}

.ratingField {
    .ant-rate {
        display: flex;
        justify-content: space-between;
    }
    .ant-rate-star {
        margin:0;
    }
}
.green-rate {
    .ant-rate {
        color: $green-color;
    }
}
.blue-rate {
    .ant-rate {
        color: $blue;
    }
}
.no-arrow {
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }
}