.c-progress {
    
}

.bottom-badge  {
    text-align: center;
    .ant-badge-status-dot {
        width: 10px;
        height: 10px;
        top: 0;
    }
    .ant-badge-status-text {
        display: block;
        margin: 0;
    }
}