.program-list {
    color: #BEBEBE;
    font-weight: 300;
    font-size: 15px;
    display: flex;
    margin-right: 0;
    border: 0;
    padding:0;
    border-radius: 0;
    background-color: transparent;
    .p-name {
        border-radius: 8px;
        padding: 10px 15px;
        background: $element-color;
        width: 100%;
        display: block;
    }
    .ant-tag-close-icon {
        margin-left: 20px;
        display: flex;
        align-items: center;
        color: $gray;
        font-size: 20px;
        &:hover {
            color: $errors;
        }
    }
    .p-date {
        display: block;
    }
}

.add-tag {
    margin-bottom: 10px;
    .ant-input {
        width: calc(100% - 20px);
        margin-right: 20px;
        border-radius: 8px !important;
    }
    .ant-input-group-addon {
        .ant-btn-primary {
            border-radius: 8px !important;
            background: $green-color;
            border-color: $green-color;
            &:hover, &:focus {
                background: $green-dark;
                border-color: $green-dark;
            }
            &:active {
                background: $green-active;
                border-color: $green-active
            }
        }
    }
}

.tag-code {
    
    color: #fff;
    font-weight: 400;
    border: 0;
    padding: 5px 10px;
    min-width: 68px;
    text-align: center;
}

.module-tag {
    display: inline-flex;
    height: 40px;
    padding: 8px 20px;
    border: 2px solid $gray;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.info-tag {
    padding: 9px 15px;
    background: $element-color;
    text-align: left;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    .info-icon {
        padding:11px;
        border-radius: 50%;
        background: $container-color;
        font-size: 10px;
        margin-right: 15px;
    }
    
}