.c-header {
    background-color: transparent;
    .ant-card-body {
        padding: 30px 0 60px 0;
    }

    .ant-col-17 {
        .ant-space {
            width: 100%;
        }
        .ant-space-item {
            width: 100%;
            max-width: 570px;

            &:first-child {
                width: auto;
            }
        }
    }
}

.custom-select {
    .ant-select-selection-placeholder {
        color: #fff;
    }
    .ant-select-selection-item {
        color: #fff;
    }
    &.ant-select-open {
        .ant-select-selection-item {
            color: #fff;
        }
    }
}

.ant-select-arrow {
    color: #fff;
}

.search-input {
    background-color: $container-color;
    .ant-select-selection-placeholder {
        color: $gray;
    }
    .ant-input {
        background-color: $container-color;
    }
    .ant-input-prefix {
        margin-right: 10px;
    }

}
